@(result: List[Summary])

<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>Start Page</title>
    </head>
    <body>
        <h1>Сводка по ценным бумагам и истории торговли</h1>
        @if(result.nonEmpty) {
            @for(summary <- result) {
                <li>
                    @summary.secid,
                    @summary.regnumber,
                    @summary.name,
                    @summary.emitentTitle,
                    @summary.tradedate,
                    @summary.numtrades,
                    @summary.open,
                    @summary.close
                </li>
            }
        }
        <br>
        <a href="/security">Получить сводку по бумагам</a>
        <br>
        <a href="/history">Получить сводку по историям</a>
        <br>
        <a href="/import-af">Импортировать из вложенных в проект файлов</a>
        <br>
        <br>
        <a href="/import?type=sec">Импортировать информацию о ценных бумагах из файла</a><br>
        <a href="/import?type=his">Импортировать историю торговли из файла</a>
        <br>
    </body>
</html>